<div class="pageContent">
    <mat-slide-toggle (change)="onToggle($event)">
        Open Web Socket Connection
    </mat-slide-toggle>
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <mat-card class="loginCard">
                <input autofocus type="text" placeholder="Enter some text here..."  [(ngModel)]="inputText">
                <button mat-raised-button  (click)="onClick()">Click Me!</button>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="outputWrapper">
                <div class="message" *ngFor="let message of messages">{{message}}</div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>